body {
  background-color: black;
  margin: 0;
}

main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contactUs {
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: normal;
}

.emailAddress {
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: normal;
}

.emailAddress:hover {
  color: rgb(182, 216, 230);
}
